<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title} ?: 'Admin Panel'">Admin Panel</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" th:href="@{/css/side-bar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin-common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">
</head>
<body th:replace="fragments/admin-layout :: layout(~{::content})">
<div th:fragment="content">
    <div class="single-section-box home-profile-information">
        <div class="profile-header">
            <img th:if="${user.avatar}" th:src="@{${user.avatar}}" alt="Profile Picture"
                 class="profile-avatar">
            <h2 class="profile-label" th:text="${user.username}"></h2>
        </div>
        <div class="profile-info">
            <div class="details-section-container">
                <strong class="profile-label" th:text="#{username} + ':'"></strong>
                <p class="profile-label" th:text="${user.username}"></p>
            </div>
            <div class="details-section-container">
                <strong class="profile-label" th:text="#{email} + ':'"></strong>
                <p class="profile-label" th:text="${user.email}"></p>
            </div>
            <div class="details-section-container">
                <strong class="profile-label" th:text="#{joined} + ':'"></strong>
                <p class="profile-label" th:text="${#temporals.format(user.createdOn, 'dd MMM yyyy HH:mm', T(java.util.Locale).ENGLISH)}"></p>
            </div>
        </div>
        <a th:href="@{/admin/profile}" class="profile-actions-button">
            <p th:text="#{edit_profile}"></p>
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                 width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M16 4h4m0 0v4m0-4-5 5M8 20H4m0 0v-4m0 4 5-5"></path>
            </svg>
        </a>
    </div>
</div>
</body>
</html>