<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title} ?: 'Admin Panel'">Admin Panel</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" th:href="@{/css/from-wallet/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/from-wallet/nav-side-bar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/from-wallet/home-common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/from-wallet/home.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/form-styles.css}">
</head>
<body th:replace="fragments/admin_layout :: layout(~{::content})">
<div th:fragment="content">
    <div class="single-section-box home-profile-information">
        <form class="auth-form"
              th:action="${category_id} != null ? @{/admin/categories/edit/{id} (id=${category_id})} : @{/admin/categories/add}"
              th:method="POST" th:object="${category}">
            <h2 class="text-center mb-4">Add Category</h2>

            <span class="badge badge-error" style="background-color : #ffffff;" th:if="${#fields.hasErrors('name')}"
                  th:errors="*{name}"></span>
            <div class="form-group text-center"
                 style="display: flex;flex-direction: row;align-items: center;align-content: center;justify-content: center;">
                <label for="name" class="control-label col-sm-2" style="width: 5%"><span>Name:</span></label>
                <input th:field="*{name}" class="form-control input" id="name" name="name"
                       type="text" placeholder="Enter category name" style="width: 300px;">
            </div>

            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>