<div class="search-fragment" th:fragment="users" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="user-item" th:unless="${users.isEmpty()}" th:each="user : ${users}">
        <div class="user-image">
            <img th:src="${user.avatar}" alt="${user.title}">
        </div>
        <div class="user-username" th:text="${user.username}"></div>
        <div class="user-actions">
            <a class="actions-button details-btn" th:href="@{/dashboard/friends/details/{id} (id=${user.id})}">
                See Details
            </a>
            <a class="actions-button send-btn" th:href="@{/dashboard/friends/send_request/{id} (id=${user.id})}">
                Send Friend Request
            </a>
        </div>
    </div>
    <div class="no-friends" th:if="${users.isEmpty()}">
        <h1>No users found!</h1>
    </div>
</div>