<a th:fragment="games" class="game-item" th:each="game : ${games}"
   th:href="@{/dashboard/games/details/{id} (id=${game.id})}" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="game-image">
        <img th:src="${game.image}" alt="${game.title}">
    </div>
    <div class="game-info">
        <span class="game-title" th:text="${game.title}"></span>
        <span class="game-price">
            <p class="promo-price"
               th:if="${game.discount != null && game.discount.isDiscountActive() == true && game.getPromoPrice() > 0}"
               th:text="${game.getPromoPrice()} + ' €'">
            </p>
            <p th:classappend="${game.discount != null && game.discount.isDiscountActive() == true && game.getPromoPrice() > 0} ? 'normal-price'"
               th:text="${game.price} + ' €'"></p>
        </span>
    </div>
</a>