.badge-error { color: #a30707; font-size: 0.8rem; display: block; }
.badge-soft { color: #ebc934; font-size: 0.8rem; }

.badge{

}

.form-field{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}