.badge-error { color: #a30707; font-size: 0.8rem; display: block; }
.badge-soft { color: #ebc934; font-size: 0.8rem; }

.badge{

}

.form-field{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.select2-results { color: #000000; }

.ck-editor__editable {
    min-height: 150px;
    resize: vertical;
    overflow: auto;
}

#imagePreview {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 10%;
}

#image_box{
    max-width: 350px;
    max-height: 200px;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
}

.form-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.control-label{
    color: yellow;
}

.form-text{
    color: white;
}