.list-box {
    width: 85%;
    height: 100%;
    background: #00000075;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 30px;
    padding: 2%;
}

.game-item {
    background: #2099c9;
    width: 25%;
    height: 25%;
    border-radius: 15px;
    flex-shrink: 0;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
}

.game-item:hover {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.game-image {
    height: 75%;
    width: 100%;
    background: #ffffff8f;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.game-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.game-info {
    flex: 1;
    width: 100%;
    background: #e7dadad6;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.game-title{
    height: 100%;
    flex-grow: 3;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-price{
   height: 100%;
   flex-grow: 1;
   color: #ffe200;
   background: dodgerblue;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 7px;
}

.normal-price{
    font-weight: bold;
    text-decoration: line-through;
    color: darkblue;
}