.list-box {
    width: 85%;
    height: 100%;
    background: #00000075;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 30px;
    padding: 2%;
}

.game-item {
    background: red;
    width: 25%;
    height: 25%;
    border-radius: 15px;
    flex-shrink: 0;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.game-image {
    height: 75%;
    width: 100%;
    background: #ffffff8f;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.game-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.game-info {
    flex: 1;
    width: 100%;
    background: #00000029;
}