div.game-section{
    background: #0916cb1a;
    margin-top: 3%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0);
    border: 1px solid transparent;
    color: #333333;
    text-align: center;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#game-title{
    font-size: xxx-large;
    font-family: math;
    color: black;
    padding: 4%;
}

#game-cat{
    margin-top: 1%;
    margin-left: 14%;
    margin-right: 14%;
    text-align: center;
    font-size: 35px;
    color: whitesmoke;
    border-radius: 20px;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

#game-company{
   margin-top: 1%;
   margin-left: 14%;
   margin-right: 14%;
   text-align: center;
   font-size: 35px;
   color: black;
   border-radius: 20px;
   background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

#game-desc{
    font-size: 25px;
    padding: 4%;
    color: white;
}

#buttons-container{
    padding: 15px;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#wishlist-btn{
    background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%)
}

#wishlist-btn {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    color: white;
    background-size: 200% auto;
    box-shadow: 0 0 7px #eee;
    border-radius: 10px;
    display: block;
    width: 15%;
    cursor: pointer;
}

#wishlist-btn:hover {
     background-position: right center;
}

#buy-section {
    margin-left: 4%;
    width: 15%;
    display: flex;
    flex-direction: row;
    background: #000;
    border-radius: 10px;
    overflow: hidden;
}

#game-price {
    flex: 1;
    color: floralwhite;
    background: #444046e6;
    padding: 15px 15px;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}

#buy-btn {
  flex: 3;
  margin: 3px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%);
  background-size: 200% auto;
  color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px #eee;
  cursor: pointer;
}

#buy-btn:hover {
  background-position: right center;
}