.list-box {
    width: 100%;
    background: #00000075;
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    padding: 2%;
    overflow: auto;
    flex-direction: column;
    align-items: center;
}

.notification-item {
    background: white;
    width: 50%;
    height: 55%;
    border-radius: 10px;
    flex-shrink: 0;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
}

.notification-header{
    height: 30%;
}

.notification-send-info{
    background: darkgray;
    display: flex;
    justify-content: space-between;
}

.notification-send-info span{
    margin: 1%;
}

.notification-title{
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.notification-desc{
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    font-style: italic;
    font-family: math;
}

.notification-actions{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.see-btn {
    align-self: center;
    text-align: center;
    height: 70%;
    width: 20%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(8 95 137);
    text-decoration: none;
    color: white;
}

.see-btn:hover {
    background-color: rgb(8 95 137 / 34%);
    color: black;
    border-radius: 5px;
    border: none;
    font-weight: 300;
    transition: background 0.9s ease-in-out;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.remove-btn {
    align-self: center;
    text-align: center;
    height: 70%;
    width: 20%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(237 13 13);
    text-decoration: none;
    color: white;
}

.remove-btn:hover {
    background: #fb4b4b85;
    color: black;
    border-radius: 5px;
    border: none;
    font-weight: 300;
    transition: background 0.9s ease-in-out;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
