.profile-card {
  background: white;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: box-shadow 0.3s ease;
}

.profile-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.profile-header {
    flex: 1;
    width: 50%;
}

.profile-avatar {
   width: 100%;
   height: 100%;
   box-shadow: 0 0 10px 5px rgb(9, 8, 17, 0.1);
   align-self: center;
   justify-self: center;
   border-right: 3px ridge black;
}

.profile-name {
  font-size: xxx-large;
  font-style: oblique;
  font-weight: bold;
  color: #333;
}

.profile-actions {
  margin-top: 20px;
}

.profile-actions {
  text-align: center;
}

.profile-actions-button {
     align-self: center;
     text-align: center;
     padding: 0 10px;
     width: 120px;
     align-items: center;
     justify-content: center;
     display: flex;
     gap: 4px;
     font-size: 14px;
     font-family: 'Poppins', sans-serif;
     border-radius: 5px;
     border: none;
     cursor: pointer;
     background-color: rgb(24 67 225);
     text-decoration: none;
}

.profile-actions-button p {
     margin-top: 10px;
     margin-bottom: 10px;
     color: white;
}

.profile-actions-button:hover {
  background: linear-gradient(90deg,rgba(0, 0, 46, 1) 33%, rgba(0, 212, 255, 1) 95%);
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: 300;
  transition: background 0.9s ease-in-out;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.profile-actions.btn.edit {
  background: #6edef5;
  color: white;
}

.home-profile-information {
  position: relative;
  grid-row-start: 1;
  grid-row-end: 3;
  gap: 26px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.profile-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 12px;
  align-items: center;
}

.details-section-container p {
  margin: 5px 0;
  color: #666;
}

.home-profile-information a.profile-actions-button {
  margin-top: 10px;
}

.profile-section{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
}

.details-section-container{
   display: flex;
   align-items: center;
   gap: 5px;
   font-size: 15px;
}

.notification-icon {
      position: relative;
      color: #FFD43B;
      font-size: 30px;
      margin: 15px;
      display: inline-block;
}

.messages-count {
     position: absolute;
     top: -6px;
     right: -10px;
     background: red;
     color: white;
     font-size: 12px;
     padding: 2px 3px;
     border-radius: 50%;
     line-height: 1;
     min-width: 18px;
     text-align: center;
     font-weight: bold;
}