.profile-card {
  background: white;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: box-shadow 0.3s ease;
}

.profile-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.profile-header {
    flex: 1;
    width: 50%;
}

.profile-avatar {
   width: 100%;
   height: 100%;
   box-shadow: 0 0 10px 5px rgb(9, 8, 17, 0.1);
   align-self: center;
   justify-self: center;
   border-right: 3px ridge black;
}

.profile-name {
  font-size: 1.5rem;
  color: #333;
}

.profile-actions {
  margin-top: 20px;
}

.profile-actions .btn {
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: rgba(13, 13, 26, 0.20);
  font-weight: 300;
  margin: 5px;
}

.profile-actions {
  text-align: center;
}

.profile-actions-button {
  align-self: center;
  text-align: center;
  padding: 0 10px;
  width: 120px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 4px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: rgba(13, 13, 26, 0.42);
  font-weight: 300;
  text-decoration: none;
  z-index: 2;
}

.profile-actions-button p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile-actions-button svg {
  width: 16px;
}

.profile-actions-button:hover {
  background: radial-gradient(circle at 90% top, #746ab0 0%, #6a61a4 10%, #605899 20%, #56508d 30%, #4c477f 40%, #423f73 50%, #383666 60%, #2e2d5a 70%, #24244d 80%, #1a1a41 90%, #101035 100%);
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: 300;
  transition: background 0.9s ease-in-out;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.profile-actions.btn.edit {
  background: #6edef5;
  color: white;
}

.home-profile-information {
  position: relative;
  grid-row-start: 1;
  grid-row-end: 3;
  gap: 26px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.profile-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 12px;
  align-items: center;
}

.profile-info p {
  margin: 5px 0;
  color: #666;
}

.home-profile-information a.profile-actions-button {
  margin-top: 40px;
}

.profile-section{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
}