
body main {
    margin: 10px 0px 10px 10px;
    display: flex;
    height: 100%;
}

body{
    background: linear-gradient(358deg, rgb(2 165 255) 20%, rgb(255 255 255) 97%) no-repeat;
    font-style: normal;
    letter-spacing: 0.5px;
}

.footer {
  color: #e5e5e5;
  text-align: center;
  margin-top: auto;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-content: stretch;
    flex-wrap: wrap;
    height: 100%;
    padding: 2%;
    width: 100%;
}

.home-section {
  width: 100%;
  color: #333333;
  margin-right: 2%;
}

div.single-section-box {
    background: #0916cb1a;
    padding: 20px;
    margin-top: 3%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0);
    border: 1px solid transparent;
    color: #333333;
    text-align: center;
    min-width: 300px;
    display: flex;
    gap: 10px;
    height: 90vh;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.profile-status-role-container {
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  gap: 20px;
  text-transform: uppercase;
}

.profile-status-role-container .active-profile {
  backdrop-filter: blur(8px);
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  background-color: #e0f7e9;
  color: #2e7d32;
  border: 1px solid rgba(84, 227, 54, 0.6);
  box-shadow: 0 4px 8px rgba(0, 153, 51, 0.15);
}

.profile-status-role-container .inactive-profile {
  background-color: #fbe9e7;
  color: #c62828;  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 103, 103, 0.6);
  box-shadow: 0 4px 8px rgba(255, 103, 103, 0.2);
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.hover-colorful-button:hover {
  background: radial-gradient(circle at 90% top, #746ab0 0%, #6a61a4 10%, #605899 20%, #56508d 30%, #4c477f 40%, #423f73 50%, #383666 60%, #2e2d5a 70%, #24244d 80%, #1a1a41 90%, #101035 100%);
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: 300;
  transition: background 0.9s ease-in-out;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.table-active{
   background-color: rgb(13 157 255 / 23%) !important;
}

.table{
    height: 90%;
    width: 100% !important;
    background: white;
}

.table-container {
    width: 95%;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    background: white;
    border-radius: 6px;
}

.btn-header{
    margin-right: 3%;
    margin-left: auto;
}

.img-list{
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
    align-self: center;
    justify-self: center;
}

div.games-section{
     background: #0916cb1a;
     margin-top: 3%;
     border-radius: 8px;
     box-shadow: 0 4px 8px rgba(255, 255, 255, 0);
     border: 1px solid transparent;
     color: #333333;
     text-align: center;
     min-width: 300px;
     display: flex;
     flex-direction: row;
     height: 90vh;
     overflow: hidden;
     justify-content: flex-start;
}
