.wallet-section{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.info-side{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
}

.transaction-side{
    flex: 1;
}

.labels{
    flex:1;
}

.operations-section{
    flex: 2;
    background: #ffffffdb;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#title{
    font-size: 120px;
    font-family: serif;
}

.balance{
    font-family: emoji;
    font-size: 25px;
    margin-bottom: 10px;
}

.wallet-actions-button {
     align-self: center;
     text-align: center;
     padding: 20px 70px;
     width: 120px;
     align-items: center;
     justify-content: center;
     display: flex;
     gap: 4px;
     font-size: 14px;
     font-family: 'Poppins', sans-serif;
     border-radius: 5px;
     border: none;
     cursor: pointer;
     text-decoration: none;
}

.wallet-actions-button p {
     margin-top: 10px;
     margin-bottom: 10px;
     color: white;
}

.wallet-actions-button:hover {
  background: linear-gradient(90deg,rgba(0, 0, 46, 1) 33%, rgba(0, 212, 255, 1) 95%);
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: 300;
  transition: background 0.9s ease-in-out;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.add-btn{
  background-color: rgb(15 133 11);
}

.add-btn:hover{
   background: linear-gradient(90deg, rgb(17 45 15) 40%, rgb(38 153 41) 95%);
}

.send-btn{
   background-color: rgb(191 51 31);
}

.send-btn:hover{
   background: linear-gradient(90deg, rgb(69 5 5) 40%, rgb(239 70 70) 95%);
}