<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${title} ?: 'Home Page'">Home Page</title>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/from-wallet/common.css">
    <link rel="stylesheet" type="text/css" href="/css/top-bar.css">
    <link rel="stylesheet" type="text/css" href="/css/user-common.css">
    <link rel="stylesheet" type="text/css" href="/css/from-wallet/home.css">

    <link rel="stylesheet" type="text/css" href="/css/game-details.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/game-details.js"></script>
</head>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<body th:replace="fragments/layout :: layout(~{::content})">
<div th:fragment="content">
    <div class="game-section">
        <div class="event-message"></div>
        <div id="game-title" th:text="${game.title}"></div>
        <div id="game-image">
            <img th:src="${game.image}" alt="${game.title}">
        </div>
        <div id="game-cat" th:text="'Category: ' + ${game.category.name}"></div>
        <div id="game-company" th:text="'Company: ' + ${game.company.name}"></div>
        <div id="game-desc" th:utext="${game.description}"></div>

        <div id="buttons-container">
            <a class="wishlist-btn wishlist-add"
               href="#"
               title="Add to Wishlist"
               th:data-game-id="${game.id}"
               th:classappend="${isWishListed} ? 'hidden' : ''">
                <i class="fa-regular fa-heart fa-2xl" style="color: #091c2a;"></i>
            </a>

            <a class="wishlist-btn wishlist-remove"
               href="#"
               title="Remove from Wishlist"
               th:data-game-id="${game.id}"
               th:classappend="${isWishListed} ? '' : 'hidden'">
                <i class="fa-solid fa-heart fa-2xl" style="color: #091c2a;"></i>
            </a>

            <div id="buy-section">
                <div id="game-price">
                    <p th:classappend="${game.discount != null && game.discount.isDiscountActive() == true && game.getPromoPrice() > 0} ? 'normal-price'"
                       th:text="${game.price} + '€'"></p>
                    <p id="promo-price"
                       th:if="${game.discount != null && game.discount.isDiscountActive() == true && game.getPromoPrice() > 0}"
                       th:text="${game.getPromoPrice()} + ' €'">
                    </p>
                </div>
                <button id="buy-btn" th:data-game-id="${game.id}">Buy</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>