<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${title} ?: 'Home Page'">Home Page</title>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/from-wallet/common.css">
    <link rel="stylesheet" type="text/css" href="/css/top-bar.css">
    <link rel="stylesheet" type="text/css" href="/css/user-common.css">
    <link rel="stylesheet" type="text/css" href="/css/from-wallet/home.css">

    <link rel="stylesheet" type="text/css" href="/css/filter.css">
    <link rel="stylesheet" type="text/css" href="/css/game_list.css">
</head>
<body th:replace="fragments/layout :: layout(~{::content})">
<div th:fragment="content">
    <div class="games-section">
        <div class="filter-box">
            <label style="margin-top: 5%"><span id="label-filter">Filter</span></label>
        </div>
        <div class="list-box">
            <div class="game-item" th:each="game : ${games}">
                <div class="game-image">
                    <img th:src="${game.image}" alt="${game.title}">
                </div>
                <div class="game-info">
                    <span th:text="${game.title}"></span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>