<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${title} ?: 'Home Page'">Home Page</title>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/from-wallet/common.css">
    <link rel="stylesheet" type="text/css" href="/css/top-bar.css">
    <link rel="stylesheet" type="text/css" href="/css/user-common.css">
    <link rel="stylesheet" type="text/css" href="/css/user.css">
</head>
<body th:replace="fragments/layout :: layout(~{::content})">
<div th:fragment="content">
    <div class="single-section-box home-profile-information" style="padding: 0 !important;">
        <div class="profile-section">
            <div class="profile-header">
                <img th:src="${user.avatar}" alt="Profile Picture"
                     class="profile-avatar">
            </div>
            <div class="profile-info">
                <div class="info">
                    <h1 class="profile-name" th:text="${user.username}"></h1>
                    <div class="details-section-container">
                        <strong>Email: </strong>
                        <p th:text="${user.email}">abv@bg</p>
                    </div>
                    <div class="details-section-container">
                        <strong>Joined: </strong>
                        <p th:text="${#temporals.format(user.createdOn, 'dd MMM yyyy HH:mm', T(java.util.Locale).ENGLISH)}">
                            09 Dec 2024 21:39</p>
                    </div>
                </div>
                <div class="profile-actions">
                    <a href="/dashboard/edit_profile" class="profile-actions-button">
                        <p>Edit Profile</p>
                    </a>
                    <a href="/dashboard/change_password" class="profile-actions-button">
                        <p>Change Password</p>
                    </a>
                    <a href="/dashboard/wallet" class="profile-actions-button">
                        <p>See Wallet</p>
                    </a>
                </div>
            </div>
            <i class="notification-icon fa-solid fa-bell">
                <span class="messages-count">0</span>
            </i>
        </div>
    </div>
</div>
</body>
</html>