<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Inter:wght@400;600;800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/css/pre-login.css"/>
</head>
<body>
<main class="index-content">

    <header class="index-head">
        <h1>
            <span>Game Pool</span>
        </h1>
        <nav class="btns">
            <a href="/register" class="btn btn-primary" th:text="#{create}"></a>
            <a href="/login" class="btn btn-secondary" th:text="#{login}"></a>
        </nav>
    </header>

</main>
</body>
</html>
