<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${title} ?: 'Home Page'">Home Page</title>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/from-wallet/common.css">
    <link rel="stylesheet" type="text/css" href="/css/top-bar.css">
    <link rel="stylesheet" type="text/css" href="/css/user-common.css">
    <link rel="stylesheet" type="text/css" href="/css/user.css">
    <script src="/js/change_password.js"></script>
</head>
<body th:replace="fragments/layout :: layout(~{::content})">
<div th:fragment="content">
    <div class="single-section-box home-profile-information" style="padding: 0 !important;">
        <form class="auth-form profile-section"
              th:action="@{/dashboard/change_password}"
              th:method="POST" th:object="${user}">
            <div class="profile-header" id="imagePreview">
                <img th:if="${avatar != null}"
                     th:src="@{${avatar}}"
                     class="profile-avatar">
            </div>
            <div class="profile-info">
                <div class="info">
                    <span class="badge badge-error" style="color: red;" th:if="${#fields.hasErrors('password')}"
                          th:errors="*{password}"></span>
                    <div class="details-section-container" style="margin-top: 30%; flex-direction: column;">
                        <label for="password" class="control-label col-sm-2"><span>Password:</span></label>
                        <div>
                            <input th:field="*{password}" class="form-control input" id="password" name="password"
                                   type="password" placeholder="Enter New Password" style="width: 300px;">
                            <i class="fa-solid fa-eye toggle-password" onclick="togglePassword()" id="toggleIconReg"
                               aria-label="Show password"></i>
                        </div>
                    </div>

                    <span class="badge badge-error" style="color: red;" th:if="${#fields.hasErrors('repeat_password')}"
                          th:errors="*{repeat_password}"></span>
                    <div class="details-section-container" style="flex-direction: column;">
                        <label for="repeat_password"
                               class="control-label col-sm-2"><span>Repeat Password:</span></label>
                        <div>
                            <input th:field="*{repeat_password}" class="form-control input" id="repeat_password"
                                   name="repeat_password"
                                   type="password" placeholder="Repeat Password" style="width: 300px;">
                            <i class="fa-solid fa-eye toggle-password" onclick="togglePasswordRepeat()"
                               id="toggleIconRegRepeat"
                               aria-label="Show password"></i>
                        </div>
                    </div>
                </div>
                <div class="profile-actions">
                    <div class="text-center mt-3">
                        <button type="submit" class="profile-actions-button" style="height: 40px;">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>