<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${title} ?: 'Home Page'">Home Page</title>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/from-wallet/common.css">
    <link rel="stylesheet" type="text/css" href="/css/top-bar.css">
    <link rel="stylesheet" type="text/css" href="/css/user-common.css">
    <link rel="stylesheet" type="text/css" href="/css/from-wallet/home.css">

    <link rel="stylesheet" type="text/css" href="/css/filter.css">
    <link rel="stylesheet" type="text/css" href="/css/game_list.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/game-list.js"></script>
</head>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<body th:replace="fragments/layout :: layout(~{::content})">
<div th:fragment="content">
    <div class="games-section">
        <div class="filter-wishlist">
            <label style="margin-top: 5%"><span id="label-filter">Filter</span></label>
            <div class="filter-category">By Category:
                <label class="filter-element" th:each="category : ${categories}">
                    <span th:text="${category.name}"></span>
                    <input type="checkbox" name="categories" th:value="${category.id}">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="filter-category">By Company:
                <label class="filter-element" th:each="company : ${companies}">
                    <span th:text="${company.name}"></span>
                    <input type="checkbox" name="companies" th:value="${company.id}">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        <div class="list-box">
            <div class="wishlist-item" th:each="game : ${games}">
                <div class="wishlist-image">
                    <img th:src="${game.image}" alt="${game.title}">
                </div>
                <div class="wishlist-title" th:text="${game.title}"></div>
                <div class="wishlist-price">
                    <p class="wishlist-promo-price"
                       th:if="${game.discount != null && game.discount.isDiscountActive() == true && game.getPromoPrice() > 0}"
                       th:text="${game.getPromoPrice()} + ' €'"></p>
                    <p th:classappend="${game.discount != null && game.discount.isDiscountActive() == true && game.getPromoPrice() > 0} ? 'wishlist-normal-price'"
                       th:text="${game.price} + ' €'"></p>
                </div>
                <div class="wishlist-actions">
                    <a class="remove-btn" th:href="@{/dashboard/games/remove_wishlist/{id} (id=${game.id})}">
                        Remove
                    </a>
                    <a class="details-btn" th:href="@{/dashboard/games/details/{id} (id=${game.id})}">
                        See More...
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>